@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
/* Hide all scrollbars by default */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide webkit scrollbars */
*::-webkit-scrollbar {
  display: none;
}

/* Custom styling for ScrollArea component only */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  display: block;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(16, 185, 129, 0.5);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(16, 185, 129, 0.7);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(16, 185, 129, 0.5) transparent;
}
